.history
.ipynb_checkpoints
.vscode
dataset/
*.hdf5
__pycache__
!app/frontend/static/uploaddata/
!app/frontend/static/uploaddata/*
!app/frontend/static/uploaddata/.gitkeep
app/tools/model
env
database.tsv
